.cotainer-one 
{
    display: flex;
}

.cotainer-two
{
    display:flex;
}

.cotainer-one div, .cotainer-two div
{
    border:1px black solid;
    padding: 10px;
}

.box-one, .box-two, .box-three, .box-four
{
    flex-basis: 25%
}


.container-second-box
{
    flex-basis: 25%;
}

@media(max-width:720px)
{
    .cotainer-one 
    {
        flex-wrap: wrap;
    }

    .box-one, .box-two, .box-three, .box-four
{
    flex-basis: 46.5%;
}
    
    .cotainer-two
    {
        display:flex;
        flex-wrap: wrap-reverse;
        width: auto;
        
    
    }
    
}


@media(max-width:360px)
{

    .box-one, .box-two, .box-three, .box-four
    {
        flex-basis:100%;
        flex-wrap:nowrap;
    }
}